.add-form {
    float: right;
    min-width: 320px;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

.search-form {
    float: left;
    min-width: 320px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

@media all and (min-width: 640px) {
    .add-form-background{
        margin-bottom: 4px;
    }

    #comment-content-container{
        flex-grow: 5;
    }
}

@media all and (min-width: 900px) {
    .form-element{
        font-size: 20px;
    }
}

.form-element{
    margin: 10px 10px 10px 10px;
    border-radius:10px;
    color: #3C3D3F;
    background: #ffffff;
    width: 90%;
    height: 30px;
}

.form-inline-element{
    text-justify: center;
    font-size: 20px;
    height: 30px;
    margin: 10px 10px 10px 10px;
    color: #3C3D3F;
}

input[name="in-up"]{
    width: 10%;
}

::-webkit-input-placeholder {
    text-indent: 5px; 
}

button {
    margin-right: 5px;
    margin-left: 10px;
}


progress{
    border: 2px solid black;
}